# Virtual environment
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/

# Logs and OS junk
*.log
.DS_Store
Thumbs.db

# Environment files
*.env



# Model weights
*.pt
# Ignore model weights
*.pt
*.onnx
*.engine
*.tflite
runs/
